
nav {
  padding: -10px;
  background-color: black;
  margin-bottom: 20px;
  width: 100%
  }

  nav ul li:hover {
    background-color:#E5A3AD;
 }

 ul li:hover {
     background-color:#E5A3AD;
 }

 .logo {
  display: inline-block;
  vertical-align: top;
  margin-left: 54px;
  margin-top: 48px
}
